:root {
    --toggle-color: hsl(230, 22%, 74%);
    --white-color: hsl(230, 17%, 14%);
    --pale-blue: hsl(232, 19%, 15%);
    --card-color: hsl(228, 28%, 20%);
    --normal-text: hsl(228, 34%, 66%);
    --heading-text: hsl(0, 0%, 100%);
    --hover-color: hsl(228, 28%, 25%);;
}
.switcher {
    background: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}
.switcher::after {
    transform: translateX(0%);
}
.today-overview h1 {
    color: var(--heading-text);
}